---
import MainLayout from '@/layouts/MainLayout.astro';
import HeaderCenteredEyebrow from '../HeaderCenteredEyebrow.astro';
import { getI18N } from '@/i18n';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import weightLossImg from '@/assets/procedures/perdida.jpg';
import breastLiftImg from '@/assets/procedures/levantamiento-busto.jpg';
import armLiftImg from '@/assets/procedures/braquioplastia.jpg';
import thigLiftImg from '@/assets/procedures/cruroplastia.jpg';
import mmoImg from '@/assets/procedures/mommy.jpg';
import breastImg from '@/assets/procedures/busto.jpg';
import liposcultureImg from '@/assets/procedures/liposucción.jpg';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const bodyImages = [
  weightLossImg,
  armLiftImg,
  mmoImg,
  liposcultureImg,
];
const breastImages = [breastLiftImg, breastImg];
const bodyTitles = Object.values(i18n.GALLERY.BODY.SUBTITLES);
const breastTitles = Object.values(i18n.GALLERY.BREAST.SUBTITLES);

const bodyPaths = [
  i18n.GALLERY_WEIGHT_LOSS.PATH,
  i18n.GALLERY_ARMS_LIFT.PATH,
  i18n.GALLERY_MOMMY_MAKEOVER.PATH,
  i18n.GALLERY_LIPOSCULTURE.PATH,
];
const breastPaths = [
  i18n.GALLERY_BREAST_LIFT.PATH,
  i18n.GALLERY_BREAST_AUGMENTATION.PATH,
];
---

<MainLayout title={`Rios MD Plastics | ${i18n.GALLERY.TITLE}`}>
  <section class="bg-primary-50">
    <div class="max-w-7xl px-8 mx-auto py-16">
      <div class="flex flex-col">
        <h1
          class="text-4xl sm:text-5xl font-bold tracking-tight text-primary-950 text-center">
          {i18n.GALLERY.TITLE}
        </h1>
        <div
          class="grid md:grid-cols-[0.4fr_1fr_1fr_1fr_1fr] py-8 gap-x-8 gap-y-16 mt-16">
          <h3
            class="text-lg font-semibold text-primary-950 col-span-3 xl:col-span-1">
            {i18n.GALLERY.BODY.TITLE}
          </h3>
          <div
            class="col-span-4 grid sm:grid-cols-2 md:grid-cols-4 gap-6 sm:gap-y-7 lg:gap-x-7">
            {
              bodyImages.map((item, idx) => (
                <a
                  href={`${translatePath('/galeria')}/${bodyPaths[idx]}`}
                  class="group shadow-sm rounded-xl border overflow-hidden bg-white ">
                  <div class="overflow-hidden aspect-[3/2]">
                    <Image
                      src={item}
                      alt={bodyTitles[idx]}
                      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 ease-in-out"
                      loading="eager"
                    />
                  </div>
                  <div class="py-3 px-4 border-t flex items-center justify-between max-h-[50px]">
                    <p class="font-medium text-gray-700 group-hover:text-primary-500 transition-colors duration-300 ease-in-out">
                      {bodyTitles[idx]}
                    </p>
                    <Icon
                      name="arrow-right"
                      size={14}
                      class="text-gray-600 group-hover:-rotate-45 group-hover:text-primary-500 transition-transform duration-300 ease-in-out"
                    />
                  </div>
                </a>
              ))
            }
          </div>
        </div>
        <div
          class="grid md:grid-cols-[0.4fr_1fr_1fr_1fr_1fr] py-8 gap-x-8 gap-y-6">
          <h3
            class="text-lg font-semibold text-primary-950 col-span-3 xl:col-span-1">
            {i18n.GALLERY.BREAST.TITLE}
          </h3>
          <div
            class="col-span-3 grid sm:grid-cols-2 md:grid-cols-3 gap-6 sm:gap-y-7 lg:gap-x-7 max-h-[50px]">
            {
              breastImages.map((item, idx) => (
                <a
                  href={`${translatePath('/galeria')}/${breastPaths[idx]}`}
                  class="group shadow-sm rounded-xl border overflow-hidden bg-white">
                  <div class="overflow-hidden aspect-[3/2]">
                    <Image
                      src={item}
                      alt={breastTitles[idx]}
                      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 ease-in-out"
                      loading="eager"
                    />
                  </div>
                  <div class="py-3 px-4 border-t flex items-center justify-between">
                    <p class="font-medium text-gray-700 group-hover:text-primary-500 transition-colors duration-300 ease-in-out whitespace-normal">
                      {breastTitles[idx]}
                    </p>
                    <Icon
                      name="arrow-right"
                      size={16}
                      class="text-gray-700 group-hover:-rotate-45 group-hover:text-primary-500 transition-transform duration-300 ease-in-out"
                    />
                  </div>
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
