---
import MainLayout from "@/layouts/MainLayout.astro"
import HeaderCenteredEyebrow from "../HeaderCenteredEyebrow.astro"
import { Image } from "astro:assets"
const {title, tag, cover} = Astro.props
---


<MainLayout title={title}>
  <!-- bg-gradient-to-t from-white from-[73%] to-primary-200 to-[27%] -->
  <section class="bg-[#FAFAFA]">
    <div class="max-w-4xl px-8 mx-auto py-16 lg:py-28">
      <div class="flex flex-col gap-20">
        <HeaderCenteredEyebrow eyebrow={tag} title={title}/>
        <div class="rounded-xl overflow-hidden shadow-sm border border-gray-100">
          <Image src={cover} alt={title} class="w-full h-auto object-cover"/>
        </div>
        <div class="flex flex-col gap-8 text-gray-800 text-lg leading-7">
        <slot/> 
        </div>  
      </div>
    </div>
  </section>
</MainLayout>