---
import { Icon } from 'astro-icon/components'

import { getI18N } from "@/i18n/index"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const socialLinks = [
  {
    icon: 'instagram', 
    url: 'https://www.instagram.com/drandreirios/'
  }, 
  {
    icon: 'facebook', 
    url: 'https://www.facebook.com/dr.rios.cpr'
  }, 
 
  {
    icon: 'tiktok', 
    url: 'https://www.tiktok.com/@drandreirios'
  }, 
  {
    icon: 'realself', 
    url: 'https://www.realself.com/dr/andrei-rios-tijuana-mexico'
  }, 
  
  
  
]

const contactInfo = [
  {
    icon: 'whatsapp', 
    url: 'https://wa.me/526646703359', 
    description: '664 670 3359'
  }, 
 
]
---


<section class="bg-primary-100 py-1 sm:py-2">
  <div class="max-w-7xl flex items-center mx-auto px-4 md:px-6 lg:px-8">
    <div class="flex-1 text-center sm:text-left">
      {socialLinks.map((item) => (        
        <a href={item.url} target="_blank" class="group inline-flex items-center justify-center text-black w-10 h-10 focus:outline-none focus:ring-4 focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
          <span class="sr-only">{item.icon}</span>
          <Icon name={item.icon}  class="text-black w-5 h-5 group-hover:text-primary-700 transition-colors duration-200 ease-in-out" aria-hidden="true"/>
        </a>          
      ))}
     

      <!-- <a href={item.url} target="_blank" class="group inline-flex items-center justify-center text-black w-10 h-10 focus:outline-none focus:ring-4 focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
        <span class="sr-only">{item.icon}</span>
        
      </a>           -->
    </div>
  
    <div class="hidden sm:flex sm:items-center">
      <Icon name="clock" class="text-black w-[1.1rem] h-[1.1rem] mr-2" aria-hidden="true"/>
      <p class="text-sm text-black">{i18n.BANNER.BUSINESS_HOURS}</p>
    </div>
  
    <div class="hidden sm:flex-1 sm:justify-end sm:flex sm:items-center sm:gap-x-2">
      {contactInfo.map((item) => (
        <a href={item.url} target="_blank" class="inline-flex items-center text-black text-sm hover:text-primary-700 focus:outline-none focus:ring-4 focus:ring-gray-700 rounded-lg px-5 py-2.5 transition-colors duration-200 ease-in-out">
          <span class=""><Icon name={item.icon} size={16} class="w-4 h-4 me-2"/></span>
          <p>{item.description}</p>
        </a>          
      ))}
      
    </div>
  </div>
</section>