---
import '../styles/globals.css';
import HeaderCenteredEyebrow from './HeaderCenteredEyebrow.astro';
import { GalleryTabs } from '@/components/GalleryTabs';
import { WeightLossGalleryTabs } from '@/components/WeightLossGalleryTabs';
import MainLayout from '@/layouts/MainLayout.astro';

const { eyebrow, title, tabsData } = Astro.props;
---

<MainLayout title={`Rios MD Plastics | Gallery - ${title}`}>
  <section class="bg-[#FAFAFA] py-12 sm:py-28">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col gap-12 lg:gap-20">
        <div class="">
          <HeaderCenteredEyebrow eyebrow={eyebrow} title={title} />
        </div>
        <div class="min-h-screen">
          {
            title.includes('Weight') || title.includes('Peso') ? (
              <WeightLossGalleryTabs
                tabsData={tabsData}
                client:visible
              />
            ) : (
              <GalleryTabs tabsData={tabsData} client:visible />
            )
          }
        </div>
      </div>
    </div>
  </section>
</MainLayout>
