---
import "../styles/globals.css"
import HeaderCenteredEyebrow from './HeaderCenteredEyebrow.astro'
import {GalleryTabs} from '@/components/GalleryTabs'
import MainLayout from '@/layouts/MainLayout.astro'

const {eyebrow, title, tabsTitles, tabsData} = Astro.props
--- 
<MainLayout title={title}>
<section class="py-16 md:py-28 bg-[#FAFAFA]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-20">
      <HeaderCenteredEyebrow eyebrow={eyebrow} title={title}/>
      <GalleryTabs tabsData={tabsData}  client:load/>
    </div>
  </div>
</section>
</MainLayout>

