---
import { getI18N } from "@/i18n";

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

interface Props {
  eyebrow?: string; 
  title: string; 
  description?: string; 
}
const {eyebrow, title, description} = Astro.props
---

<div class="">
  <div class="max-w-2xl mx-auto text-center flex flex-col items-center gap-6">
    <div class="">
      <p class="leading-7 text-primary-900 text-sm font-semibold">{eyebrow}</p>
    </div>
    <h1 class="text-4xl sm:text-5xl sm:leading-[1.16] font-semibold tracking-tight text-primary-950">{title}</h1>
    <p class="text-lg leading-8 max-w-prose">{description}</p>    
  </div>

</div>