---
import { getI18N } from "@/i18n";

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

interface Props {
  eyebrow?: string; 
  title: string; 
  description?: string; 
}
const {eyebrow, title, description} = Astro.props
---

<div>
  <div class="max-w-2xl mx-auto text-center flex flex-col items-center gap-6">
    <div class="py-[3px] px-3 bg-primary-100 rounded-sm flex flex-col items-center justify-center shadow-sm">
      <p class="leading-7 text-primary-800 text-sm font-semibold">{eyebrow}</p>
    </div>
    <h1 class="text-4xl sm:text-5xl leading-5 font-semibold tracking-tight text-gray-900">{title}</h1>
    <p class="text-lg leading-8 max-w-prose">{description}</p>    
  </div>

</div>