---
import { Image } from 'astro:assets';
import aboutImage from '../assets/about.webp';
import { getI18N } from '@/i18n';
import { FileBadge, HeartHandshake } from 'lucide-react';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="py-12 sm:py-28 bg-section">
  <div class="max-w-screen-xl mx-auto px-5 lg:px-8">
    <div class="grid lg:grid-cols-2 gap-x-20 gap-y-12 items-center">
      <div class="flex flex-col space-y-4 sm:space-y-6">
        <h2
          class="font-display font-bold text-heading text-4xl sm:text-5xl text-balance">
          {i18n.INTRO_TITLE}
        </h2>
        <p class="text-base sm:text-lg text-stone-600">
          {i18n.INTRO}
        </p>
        <div class="mt-6 sm:mt-8 flex flex-col sm:flex-row gap-6">
          <div class="space-y-3 sm:space-y-4">
            <FileBadge
              strokeWidth={1}
              size={40}
              className="text-primary-600"
            />
            <h3 class="font-bold text-xl text-heading">
              {i18n.INTRO_ITEM_HEADING_1}
            </h3>
            <p class="text-stone-600">
              {i18n.INTRO_ITEM_DESCRIPTION_1}
            </p>
          </div>
          <div class="space-y-3 sm:space-y-4">
            <HeartHandshake
              strokeWidth={1}
              size={40}
              className="text-primary-600"
            />
            <h3 class="font-bold text-xl text-heading">
              {i18n.INTRO_ITEM_HEADING_2}
            </h3>
            <p class="text-stone-600">
              {i18n.INTRO_ITEM_DESCRIPTION_2}
            </p>
          </div>
        </div>
      </div>
      <div class="overflow-hidden rounded-sm shadow-lg aspect-square">
        <Image
          src={aboutImage}
          alt="Dr. Andrei Rios"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
