---
import { Image } from 'astro:assets';
const { src, alt, title, isSpanish } = Astro.props;
import { ArrowRight } from 'lucide-react';
const proceduresPath = isSpanish
  ? 'procedimientos/'
  : 'en/procedures/';
---

<a
  href={`/${proceduresPath}#${title.toLowerCase()}`}
  class="relative group cursor-pointer overflow-hidden rounded-lg shadow-sm hover:shadow-md aspect-video sm:aspect-square flex items-end">
  <Image
    src={src}
    alt={alt}
    class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform ease-in duration-250"
  />
  <div
    class="absolute inset-0 w-full h-full bg-gradient-to-t from-primary-600/50 from-10% to-transparent">
  </div>
  <div
    class="relative p-4 sm:p-6 flex items-center justify-between w-full">
    <h3
      class="text-xl font-semibold text-white sm:text-2xl transition-colors ease-in duration-250">
      {title}
    </h3>
    <ArrowRight
      strokeWidth={2}
      size={24}
      className="text-white group-hover:-rotate-45  transition-all ease-in duration-250"
    />
  </div>
</a>
